.leftRight_header {
    animation-name: leftRight_header;
    animation-duration: 1.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: none;
    animation-direction: normal;
}

@keyframes leftRight_header {
    from {margin-left: -300px;}
    to {margin-left: 80px;}
}

.leftRight {
    animation-name: leftRight;
    animation-duration: 1.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: none;
    animation-direction: normal;
}

@keyframes leftRight {
    from {margin-left: -500px;}
    to {margin-left: 60px;}
}

@keyframes topDown {
    from {margin-top: -100px;}
    to {margin-top: 0;}
}

nav {
    animation-name: topDown;
    animation-duration: 1.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: none;
    animation-direction: normal;
}

.container > p {
    animation-name: fadeIn;
    animation-duration: 1.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 100%;}
}
